@font-face {
  font-family: 'HKGroteskPro-Regular';
  src: url('../fonts/HKGroteskPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/HKGroteskPro-Regular.woff') format('woff'), url('../fonts/HKGroteskPro-Regular.ttf')  format('truetype'), url('../fonts/HKGroteskPro-Regular.svg#HKGroteskPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HKGroteskPro-Bold';
  src: url('../fonts/HKGroteskPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/HKGroteskPro-Bold.woff') format('woff'), url('../fonts/HKGroteskPro-Bold.ttf')  format('truetype'), url('../fonts/HKGroteskPro-Bold.svg#HKGroteskPro-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro');
