#menu
  ul.menu
    li.logo 
      a(href='index.html') carlos rousseau
    li.links.cat
      a(href='#') categorías
      .categorias
        ul
          li
            a(href="#") Finanzas
          li
            a(href="#") Industria
          li
            a(href="#") Proyectos
          li
            a(href="#") Tendencias
          li
            a(href="#") Emprendedor
    li.links.ab
      a(href='#') sobre mí
      .about
        ul
          li
            a(href="sobre-mi.html") Sobre Carlos Rousseau
          li
            a(href="publicaciones.html") Publicaciones
          li
            a(href="https://www.facebook.com/OrangeInvestments/" target="_blank").red Facebook
          li
            a(href="https://www.instagram.com/orangeinv/" target="_blank").red Instagram
          li
            a(href="https://www.linkedin.com/company/orange-investments" target="_blank").red Linkedin
    li.links.contacto
      a(href='mailto:carlos@orange.com.mx') contacto
    form
      label(for="search")
      input(type="text" name="s" id="search" placeholder="buscar")
    ul.idioma
      li
        a(href="#") es
      li
        a(href="#") en
        
  ul.menu-resp
    .ham
      .line
      .line
      .line
    li.logo-resp
      a(href='index.html') carlos rousseau
    .hide
      li.links-resp.cat-resp
        a(href='#') categorías
        .categorias-resp
          ul
            li
              a(href="#") Finanzas
            li
              a(href="#") Industria
            li
              a(href="#") Proyectos
            li
              a(href="#") Tendencias
            li
              a(href="#") Emprendedor
      li.links-resp.ab-resp
        a(href='#') sobre mí
        .about-resp
          ul
            li
              a(href="sobre-mi.html") Sobre Carlos Rousseau
            li
              a(href="publicaciones.html") Publicaciones
            li
              a(href="https://www.facebook.com/OrangeInvestments/" target="_blank").red-resp Facebook
            li
              a(href="https://www.instagram.com/orangeinv/" target="_blank").red-resp Instagram
            li
              a(href="https://www.linkedin.com/company/orange-investments" target="_blank").red-resp Linkedin
      li.links-resp.contacto-resp
        a(href='mailto:carlos@orange.com.mx') contacto
      form
        label(for="search")
        input(type="text" name="s" id="search" placeholder="buscar")
      ul.idioma-resp
        li
          a(href="#") es
        li
          a(href="#") en
