doctype
html
  head
    title Carlos Rousseau
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #home
      include _menu.html
      .contenedor
        .posts
          .post.lead
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
          .post.lead
            a(href="post.html")
              .img(style="background-image: url(assets/img/image-post.jpg); background-position: center; background-size: cover; background-repeat: no-repeat;")
                  .overlay
                    span Leer
            .info
              .date
                p 23.05.18
              .category
                p Finanzas
              .title
                h2 Invirtiendo responsablemente en bienes raíces
              .description
                p “Para invertir en los mejores proyectos se necesita disciplina, trabajo duro e investigación.”
              .leermas
                a(href="post.html") Leer más
      .videos
        .overlayvideo
          .hamvideo
            .line
            .line
          .video1
            .
              <iframe src="https://player.vimeo.com/video/193391290" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        .contenedor
          .video.video1
            .img
              img(src="assets/img/video.jpg" alt="Video")
              .vervideo
                span Ver video
            .info
              .date
                p 23.05.18
              .category
                p Video
              .title
                h2 Diversifica tu portafolio con bienes raíces
          .video.video2
            .img
              img(src="assets/img/video.jpg" alt="Video")
              .vervideo
                span Ver video
            .info
              .date
                p 23.05.18
              .category
                p Video
              .title
                h2 Diversifica tu portafolio con bienes raíces
          .video.video3
            .img
              img(src="assets/img/video.jpg" alt="Video")
              .vervideo
                span Ver video
            .info
              .date
                p 23.05.18
              .category
                p Video
              .title
                h2 Diversifica tu portafolio con bienes raíces
          
      include _footer.html  
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
