doctype
html
  head
    title Carlos Rousseau | Post
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #post
      include _menu.html
      .contenedor
        .hero(style="background: url(assets/img/hero-post.jpg) center center no-repeat;")
        .blog-post.cf
          .share#share
            .social.facebook
              a(href="#")
                img(src="assets/img/face.svg")
            .social.twitter
              a(href="#")
                img(src="assets/img/twitter.svg")
            .social.linkedin
              a(href="#")
                img(src="assets/img/linkedin.svg")
            .social.google
              a(href="#")
                img(src="assets/img/google.svg")
          .post
            .date
              span 23.05.18
            .catt
              span Finanzas
            .lead
              h2 Factores que afectan los valores del real estate
            .editor
              h2 ¿Por qué algunos inmuebles tienden a subir con el tiempo, mientras otros no lo hacen?
              br
              p Recientemente en algunos mercados inmobiliarios encontramos precios que alcanzan niveles dignos del ridículo, pero ¿qué tanto permanecen así? Echemos un vistazo a la historia.
              br
              p Una creencia sostenida por muchos inversionistas es que, al ser la tierra un recurso escaso y finito según la ley de la oferta y la demanda, su precio solo podría escalar con el paso del tiempo. Este pensamiento se generaliza entre los compradores obsesionados por descubrir la ubicación ideal.
              br
              p Ante este escenario, lo cierto es que la valoración de un bien raíz es multifactorial, y por tanto conviene reconocer las principales variables que intervienen en el proceso.
              br
              p Las siguientes variables afectan el precio al alza:
              p – Oferta y demanda
              p – Crecimiento de empleo
              p – Bajas tasas de interés y acceso a crédito
              p – Ubicación, ubicación, ubicación
              p – Mejoramiento del entorno 
              p – Por el contrario, estas lo hacen a la baja:
              p – Reducción de las factibilidades normativas de construcción
              p – Condiciones ambientales no favorables
              p – Altos índices de violencia
              p – Tráfico y congestionamiento de vialidades
              p – Contaminación ambiental y de ruido
              img(src="assets/img/post.jpg" alt="imagen de post")
              p Según estas consideraciones, al encarar una inversión habremos de medir el pulso de los mercados y otras tantas variables con información confiable. Por ejemplo, si los niveles actuales de construcción indican que la oferta superará pronto a la demanda, debemos ser pacientes y aguardar a que el mercado se ponga a modo para así invertir en sus niveles más bajos.
              br
              p También es muy importante no caer en la tentación simplista de hablar de real estate como un todo, ya que existen muchos tipos de inmuebles con comportamientos muy distintos.
              br
              p Por último, el crédito es fundamental en la inversión de cualquier nivel, desde el comprador de una casa hasta el inversionista de un proyecto de usos mixtos. Entre más bajas sean las tasas de interés para su compra, los precios de un bien raíz tenderán a subir.
              br
              p A fin de cuentas, tal como sucede en el mercado de capitales, para determinar el valor de un inmueble es preciso estudiar factores como movimiento de precios, datos económicos, clima de mercado, condiciones de crédito y liquidez, entre otros.
              .links
                .regresar
                  a(href="#") Regresar
                .siguiente
                  a(href="#") Siguiente Artículo
          .font#font
            .fonts
              #mas
                span A
              #menos
                span A
          .articulos#articulos
            h2.tit Más artículos
            .articulo
              .date
                span 23.05.18
              .catt
                a(href="#")
                  span Finanzas
              .titulo
                a(href="#")
                  h2 Invirtiendo responsablemente en bienes raíces
              .barra
            .articulo
              .date
                span 23.05.18
              .catt
                a(href="#")
                  span Finanzas
              .titulo
                a(href="#")
                  h2 Invirtiendo responsablemente en bienes raíces
              .barra
            .articulo
              .date
                span 23.05.18
              .catt
                a(href="#")
                  span Finanzas
              .titulo
                a(href="#")
                  h2 Invirtiendo responsablemente en bienes raíces
              .barra
      include _footer.html
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
