doctype
html
  head
    title Carlos Rousseau | Sobre Mi
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" type="text/css" href="assets/css/style.css")
    link(rel="icon" href="assets/img/favicon.png" type="image/x-icon")
  body
    #sobremi
      include _menu.html
      .contenedor
        .imagen-perfil
          img(src="assets/img/sobremi.jpg" alt="Carlos Rousseau")
        .description
          .cont
            h2 One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed.
            p He lay on his armour-like back, and if he lifted his head a little he could see his brown belly, slightly domed and divided by arches into stiff sections. The bedding was hardly able to cover it and seemed ready to slide off any moment. His many legs, pitifully thin compared with the size of the rest of him, waved about helplessly as he looked. 
        .space
        .proyectos
          .cont
            h2 Proyectos destacados
            .years
              .year
                span 2018
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
                  p 	– Desarrollo de Proyecto No. 4
              .year
                span 2017
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
              .year
                span 2016
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
              .year
                span 2015
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
                  p 	– Desarrollo de Proyecto No. 4
              .year
                span 2014
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
              .year
                span 2013
                .pr
                  p 	– Desarrollo de Proyecto No. 1
                  p 	– Desarrollo de Proyecto No. 2
                  p 	– Desarrollo de Proyecto No. 3
                  p 	– Desarrollo de Proyecto No. 4
        include _footer.html 
    script(src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous")
    script(type="text/javascript" src="assets/js/functions.js")
